In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Exploratory Data Analysis (EDA) 

Load and explore the data for Tableau readiness.

### TABLE OF CONTENTS:

- [TABLE 1 - Summary](#table-1-summary:)
- [TABLE 2 - Global Totals](#table-2-global-totals:)
- [TABLE 3 - Age Groups](#table-3-age-groups:)
- [TABLE 4 - Ages 0-4](#table-4-ages-0-4:)
- [TABLE 5 - Ages 5-14](#table-5-ages-5-14:)
- [TABLE 6 - Ages 15-49](#table-6-ages-15-49:)
- [TABLE 7 - Ages 50-69](#table-5-ages-50-69:)
- [TABLE 8 - Ages 70+](#table-8-ages-70+:)
- [TABLE 9 - Risks](#table-9-risks:)

----

<a name="table-1-summary:"/>

#### TABLE 1 Summary:

In [2]:
summary_df = pd.read_csv('data/W4P3_COD_V2.0.csv')
summary_df.head()

,Causes name,Causes Full Description,Death Numbers,Entity,Code,Year
0,Meningitis,Deaths - Meningitis - Sex: Both - Age: All Age...,2933.0,Afghanistan,AFG,2007
1,Neoplasms,Deaths - Neoplasms - Sex: Both - Age: All Ages...,15925.0,Afghanistan,AFG,2007
2,"Fire, heat, and hot substances","Deaths - Fire, heat, and hot substances - Sex:...",481.0,Afghanistan,AFG,2007
3,Malaria,Deaths - Malaria - Sex: Both - Age: All Ages (...,393.0,Afghanistan,AFG,2007
4,Drowning,Deaths - Drowning - Sex: Both - Age: All Ages ...,2127.0,Afghanistan,AFG,2007

##### SAVE:

In [3]:
summary_df.to_csv('data/Tableau_Tables/T1 Summary.csv', index=False)

----

<a name="table-2-global-totals-:"/>

#### TABLE 2 Global Totals:

In [4]:
globe_df = pd.read_csv('data/W4P3_ND.csv')
globe_df.head(5)

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

In [5]:
print(len(globe_df.columns))
globe_df.columns

36

Index(['Entity', 'Code', 'Year',
       'Number of executions (Amnesty International)',
       'Deaths - Meningitis - Sex: Both - Age: All Ages (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)',
       'Deaths - Malaria - Sex: Both - Age: All Ages (Number)',
       'Deaths - Drowning - Sex: Both - Age: All Ages (Number)',
       'Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)',
       'Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)',
       'Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)',
       'Deaths - Road injuries - Sex: Both - Age: All Ages (Number)',
       'Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)',
       'Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)',
       'Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)',
       'Deaths - Self-harm - Sex: Both - Age: All Ages (Number)',
       'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)',
       'Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)',
       'Deaths - Poisonings - Sex: Both - Age: All Ages (Number)',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)',
       'Terrorism (deaths)',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)',
       'Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)',
       'Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)'],
      dtype='object')

In [6]:
globe_df = globe_df.rename(columns={
    'Deaths - Meningitis - Sex: Both - Age: All Ages (Number)': 'Meningitis'
  , 'Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)': 'Neoplasms'
  , 'Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)': 'Fire, heat, and hot substances'
  , 'Deaths - Malaria - Sex: Both - Age: All Ages (Number)': 'Malaria'
  , 'Deaths - Drowning - Sex: Both - Age: All Ages (Number)': 'Drowning'
  , 'Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)': 'Interpersonal violence'
  , 'Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)': 'HIV/AIDS'
  , 'Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)': 'Drug use disorders'
  , 'Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)': 'Tuberculosis'
  , 'Deaths - Road injuries - Sex: Both - Age: All Ages (Number)': 'Road injuries'
  , 'Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)': 'Maternal disorders'
  , 'Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)': 'Lower respiratory infections'
  , 'Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)': 'Neonatal disorders'
  , 'Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)': 'Alcohol use disorders'
  , 'Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)': 'Exposure to forces of nature'
  , 'Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)': 'Diarrheal diseases'
  , 'Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)': 'Environmental heat and cold exposure'
  , 'Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)': 'Nutritional deficiencies'
  , 'Deaths - Self-harm - Sex: Both - Age: All Ages (Number)': 'Self-harm'
  , 'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)': 'Conflict and terrorism'
  , 'Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)': 'Diabetes mellitus'
  , 'Deaths - Poisonings - Sex: Both - Age: All Ages (Number)': 'Poisonings'
  , 'Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)': 'Protein-energy malnutrition'
  , 'Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)': 'Cardiovascular diseases'
  , 'Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)': 'Chronic kidney disease'
  , 'Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)': 'Chronic respiratory diseases'
  , 'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)': 'Cirrhosis and other chronic liver diseases'
  , 'Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)': 'Digestive diseases'
  , 'Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)': 'Acute hepatitis'
  , 'Deaths - Alzheimer\'s disease and other dementias - Sex: Both - Age: All Ages (Number)': 'Alzheimer\'s disease and other dementias'
  , 'Deaths - Parkinson\'s disease - Sex: Both - Age: All Ages (Number)': 'Parkinson\'s disease'
  , 'Number of executions (Amnesty International)': 'Executions'
  , 'Terrorism (deaths)': 'Terrorism'
})
globe_df.head()

,Entity,Code,Year,Executions,Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,...,Protein-energy malnutrition,Terrorism,Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

##### SAVE:

In [7]:
globe_df.to_csv('data/Tableau_Tables/T2 Globe Totals.csv', index=False)

----

<a name="table-3-age-groups-:"/>

#### TABLE 3 Age Groups:

In [8]:
age_grp_df = pd.read_csv('data/nd-age-group.csv')
age_grp_df.head(5)

,Entity,Code,Year,Deaths - All causes - Sex: Both - Age: 70+ years (Number),Deaths - All causes - Sex: Both - Age: 50-69 years (Number),Deaths - All causes - Sex: Both - Age: 15-49 years (Number),Deaths - All causes - Sex: Both - Age: 5-14 years (Number),Deaths - All causes - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,34681,40624,22968,5642,78170
1,Afghanistan,AFG,1991,35271,41414,26523,6433,83035
2,Afghanistan,AFG,1992,35694,41829,30000,6854,93859
3,Afghanistan,AFG,1993,36433,42598,32339,7206,106537
4,Afghanistan,AFG,1994,37460,43923,36817,8106,115334

In [9]:
age_grp_df.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - All causes - Sex: Both - Age: 70+ years (Number)',
       'Deaths - All causes - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - All causes - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - All causes - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - All causes - Sex: Both - Age: Under 5 (Number)'],
      dtype='object')

In [10]:
# Rename Headings:
age_grp_df = age_grp_df.rename(columns={
       'Deaths - All causes - Sex: Both - Age: 70+ years (Number)': '70+ years',
       'Deaths - All causes - Sex: Both - Age: 50-69 years (Number)': '50-69 years',
       'Deaths - All causes - Sex: Both - Age: 15-49 years (Number)': '15-49 years',
       'Deaths - All causes - Sex: Both - Age: 5-14 years (Number)': '5-14 years',
       'Deaths - All causes - Sex: Both - Age: Under 5 (Number)': '0-5 years'})
age_grp_df.head(5)

,Entity,Code,Year,70+ years,50-69 years,15-49 years,5-14 years,0-5 years
0,Afghanistan,AFG,1990,34681,40624,22968,5642,78170
1,Afghanistan,AFG,1991,35271,41414,26523,6433,83035
2,Afghanistan,AFG,1992,35694,41829,30000,6854,93859
3,Afghanistan,AFG,1993,36433,42598,32339,7206,106537
4,Afghanistan,AFG,1994,37460,43923,36817,8106,115334

##### SAVE:

In [11]:
age_grp_df.to_csv('data/Tableau_Tables/T3 Age Groups.csv', index=False)

----

<a name="table-4-ages-0-4-:"/>

#### TABLE 4 Ages 0-4:

In [12]:
yr0_4_df = pd.read_csv('data/nd-0-4-year-olds.csv')
yr0_4_df.head(5)

,Entity,Code,Year,Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number),Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number),Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Measles - Sex: Both - Age: Under 5 (Number),Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number),...,Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number),Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number),Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)",Deaths - Road injuries - Sex: Both - Age: Under 5 (Number),Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number),Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number),Deaths - Drowning - Sex: Both - Age: Under 5 (Number),Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,48,105,1779,718,431,8649,477,...,7112,2455,3968,131,802,808,10,776,21,123
1,Afghanistan,AFG,1991,55,130,1822,741,439,8669,495,...,7574,2385,4650,129,781,800,12,748,41,132
2,Afghanistan,AFG,1992,68,155,2069,836,486,8539,554,...,8614,2370,5833,137,821,863,13,777,51,180
3,Afghanistan,AFG,1993,78,178,2427,970,549,8949,630,...,9458,2659,7800,155,923,979,16,872,24,239
4,Afghanistan,AFG,1994,83,194,2649,1063,589,10642,681,...,9823,3187,7894,170,1015,1064,19,961,52,259

In [13]:
yr0_4_df.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Measles - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Diabetes mellitus - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)',
       'Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Drowning - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Malaria - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)'],
      dtype='object')

In [14]:
yr0_4_df = yr0_4_df.rename(columns = {
      'Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)': 'Invasive Non-typhoidal Salmonella (iNTS)'
    , 'Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)': 'Interpersonal violence'
    , 'Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)': 'Nutritional deficiencies'
    , 'Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)': 'Acute hepatitis'
    , 'Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)': 'Neoplasms'
    , 'Deaths - Measles - Sex: Both - Age: Under 5 (Number)': 'Measles'
    , 'Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)': 'Digestive diseases'
    , 'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number)': 'Cirrhosis and other chronic liver diseases'
    , 'Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number)': 'Chronic kidney disease'
    , 'Deaths - Cardiovascular diseases - Sex: Both - Age: Under 5 (Number)': 'Cardiovascular diseases'
    , 'Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)': 'Congenital birth defects'
    , 'Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)': 'Lower respiratory infections'
    , 'Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)': 'Neonatal preterm birth'
    , 'Deaths - Environmental heat and cold exposure - Sex: Both - Age: Under 5 (Number)': 'Environmental heat and cold exposure'
    , 'Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)': 'Neonatal sepsis and other neonatal infections'
    , 'Deaths - Exposure to forces of nature - Sex: Both - Age: Under 5 (Number)': 'Exposure to forces of nature'
    , 'Deaths - Diabetes mellitus - Sex: Both - Age: Under 5 (Number)': 'Diabetes mellitus'
    , 'Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)': 'Neonatal encephalopathy due to birth asphyxia and trauma'
    , 'Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)': 'Meningitis'
    , 'Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)': 'Other neonatal disorders'
    , 'Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)': 'Whooping cough'
    , 'Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)': 'Diarrheal diseases'
    , 'Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)': 'Fire, heat, and hot substances'
    , 'Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)': 'Road injuries'
    , 'Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)': 'Tuberculosis'
    , 'Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)': 'HIV/AIDS'
    , 'Deaths - Drowning - Sex: Both - Age: Under 5 (Number)': 'Drowning'
    , 'Deaths - Malaria - Sex: Both - Age: Under 5 (Number)': 'Malaria'
    , 'Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)': 'Syphilis'
})
yr0_4_df.head()

,Entity,Code,Year,Invasive Non-typhoidal Salmonella (iNTS),Interpersonal violence,Nutritional deficiencies,Acute hepatitis,Neoplasms,Measles,Digestive diseases,...,Other neonatal disorders,Whooping cough,Diarrheal diseases,"Fire, heat, and hot substances",Road injuries,Tuberculosis,HIV/AIDS,Drowning,Malaria,Syphilis
0,Afghanistan,AFG,1990,48,105,1779,718,431,8649,477,...,7112,2455,3968,131,802,808,10,776,21,123
1,Afghanistan,AFG,1991,55,130,1822,741,439,8669,495,...,7574,2385,4650,129,781,800,12,748,41,132
2,Afghanistan,AFG,1992,68,155,2069,836,486,8539,554,...,8614,2370,5833,137,821,863,13,777,51,180
3,Afghanistan,AFG,1993,78,178,2427,970,549,8949,630,...,9458,2659,7800,155,923,979,16,872,24,239
4,Afghanistan,AFG,1994,83,194,2649,1063,589,10642,681,...,9823,3187,7894,170,1015,1064,19,961,52,259

##### SAVE:

In [15]:
yr0_4_df.to_csv('data/Tableau_Tables/T4 Ages 0-4.csv', index=False)

----

<a name="table-5-ages-5-14:"/>

#### TABLE 5 Ages 5-14:

In [16]:
yr5_14_df = pd.read_csv('data/nd-5-14-year-olds.csv')
yr5_14_df.head(5)

,Entity,Code,Year,Deaths - Self-harm - Sex: Both - Age: 5-14 years (Number),Deaths - Interpersonal violence - Sex: Both - Age: 5-14 years (Number),Deaths - Drowning - Sex: Both - Age: 5-14 years (Number),Deaths - Malaria - Sex: Both - Age: 5-14 years (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: 5-14 years (Number)",Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number),Deaths - Digestive diseases - Sex: Both - Age: 5-14 years (Number),...,Deaths - Nutritional deficiencies - Sex: Both - Age: 5-14 years (Number),Deaths - Diabetes mellitus - Sex: Both - Age: 5-14 years (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: 5-14 years (Number),Deaths - Exposure to forces of nature - Sex: Both - Age: 5-14 years (Number),Deaths - Environmental heat and cold exposure - Sex: Both - Age: 5-14 years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 5-14 years (Number),Deaths - Road injuries - Sex: Both - Age: 5-14 years (Number),Deaths - Tuberculosis - Sex: Both - Age: 5-14 years (Number),Deaths - HIV/AIDS - Sex: Both - Age: 5-14 years (Number),Deaths - Acute hepatitis - Sex: Both - Age: 5-14 years (Number)
0,Afghanistan,AFG,1990,12,65,290,3,27,278,119,...,103,11,99,0,2,27,511,160,0,103
1,Afghanistan,AFG,1991,12,80,311,6,30,299,129,...,111,12,108,277,2,30,552,170,0,112
2,Afghanistan,AFG,1992,14,88,356,8,34,341,147,...,128,14,124,120,1,34,633,191,0,129
3,Afghanistan,AFG,1993,15,97,393,3,38,373,162,...,142,15,138,42,1,60,695,205,1,143
4,Afghanistan,AFG,1994,15,105,410,7,39,385,170,...,150,16,145,29,1,42,721,209,1,150

In [17]:
yr5_14_df.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - Self-harm - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Interpersonal violence - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Drowning - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Malaria - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Digestive diseases - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Chronic kidney disease - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Lower respiratory infections - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Diabetes mellitus - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Diarrheal diseases - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Road injuries - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Tuberculosis - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - HIV/AIDS - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Acute hepatitis - Sex: Both - Age: 5-14 years (Number)'],
      dtype='object')

In [18]:
# Rename Headings:
yr5_14_df = yr5_14_df.rename(columns = {
       'Deaths - Self-harm - Sex: Both - Age: 15-49 years (Number)': 'Self-harm',
       'Deaths - Interpersonal violence - Sex: Both - Age: 15-49 years (Number)': 'Interpersonal violence',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: 15-49 years (Number)': 'Exposure to forces of nature',
       'Deaths - Drowning - Sex: Both - Age: 15-49 years (Number)': 'Drowning',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: 15-49 years (Number)': 'Environmental heat and cold exposure',
       'Deaths - Diarrheal diseases - Sex: Both - Age: 15-49 years (Number)': 'Diarrheal diseases',
       'Deaths - Road injuries - Sex: Both - Age: 15-49 years (Number)': 'Road injuries',
       'Deaths - Tuberculosis - Sex: Both - Age: 15-49 years (Number)': 'Tuberculosis',
       'Deaths - HIV/AIDS - Sex: Both - Age: 15-49 years (Number)': 'HIV/AIDS',
       'Deaths - Parkinson\'s disease - Sex: Both - Age: 15-49 years (Number)': 'Parkinson\'s disease',
       'Deaths - Malaria - Sex: Both - Age: 15-49 years (Number)': 'Malaria',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: 15-49 years (Number)': 'Fire, heat, and hot substances',
       'Deaths - Chronic kidney disease - Sex: Both - Age: 15-49 years (Number)': 'Chronic kidney disease',
       'Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number)': 'Neoplasms',
       'Deaths - Digestive diseases - Sex: Both - Age: 15-49 years (Number)': 'Digestive diseases',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: 15-49 years (Number)': 'Cirrhosis and other chronic liver diseases',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: 15-49 years (Number)': 'Chronic respiratory diseases',
       'Deaths - Alzheimer\'s disease and other dementias - Sex: Both - Age: 15-49 years (Number)': 'Alzheimer\'s disease and other dementias',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: 15-49 years (Number)': 'Cardiovascular diseases',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: 15-49 years (Number)': 'Nutritional deficiencies',
       'Deaths - Drug use disorders - Sex: Both - Age: 15-49 years (Number)': 'Drug use disorders',
       'Deaths - Alcohol use disorders - Sex: Both - Age: 15-49 years (Number)': 'Alcohol use disorders',
       'Deaths - Lower respiratory infections - Sex: Both - Age: 15-49 years (Number)': 'Lower respiratory infections',
       'Deaths - Diabetes mellitus - Sex: Both - Age: 15-49 years (Number)': 'Diabetes mellitus',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: 15-49 years (Number)': 'Protein-energy malnutrition',
       'Deaths - Acute hepatitis - Sex: Both - Age: 15-49 years (Number)': 'Acute hepatitis'})
yr5_14_df.head()

,Entity,Code,Year,Deaths - Self-harm - Sex: Both - Age: 5-14 years (Number),Deaths - Interpersonal violence - Sex: Both - Age: 5-14 years (Number),Deaths - Drowning - Sex: Both - Age: 5-14 years (Number),Deaths - Malaria - Sex: Both - Age: 5-14 years (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: 5-14 years (Number)",Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number),Deaths - Digestive diseases - Sex: Both - Age: 5-14 years (Number),...,Deaths - Nutritional deficiencies - Sex: Both - Age: 5-14 years (Number),Deaths - Diabetes mellitus - Sex: Both - Age: 5-14 years (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: 5-14 years (Number),Deaths - Exposure to forces of nature - Sex: Both - Age: 5-14 years (Number),Deaths - Environmental heat and cold exposure - Sex: Both - Age: 5-14 years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 5-14 years (Number),Deaths - Road injuries - Sex: Both - Age: 5-14 years (Number),Deaths - Tuberculosis - Sex: Both - Age: 5-14 years (Number),Deaths - HIV/AIDS - Sex: Both - Age: 5-14 years (Number),Deaths - Acute hepatitis - Sex: Both - Age: 5-14 years (Number)
0,Afghanistan,AFG,1990,12,65,290,3,27,278,119,...,103,11,99,0,2,27,511,160,0,103
1,Afghanistan,AFG,1991,12,80,311,6,30,299,129,...,111,12,108,277,2,30,552,170,0,112
2,Afghanistan,AFG,1992,14,88,356,8,34,341,147,...,128,14,124,120,1,34,633,191,0,129
3,Afghanistan,AFG,1993,15,97,393,3,38,373,162,...,142,15,138,42,1,60,695,205,1,143
4,Afghanistan,AFG,1994,15,105,410,7,39,385,170,...,150,16,145,29,1,42,721,209,1,150

##### SAVE:

In [19]:
yr5_14_df.to_csv('data/Tableau_Tables/T5 Ages 5-14.csv', index=False)

----

<a name="table-6-ages-15-49:"/>

#### TABLE 6 Ages 15-49:

In [20]:
yr15_49_df = pd.read_csv('data/nd-15-49-year-olds.csv')
yr15_49_df.head(5)

,Entity,Code,Year,Deaths - Self-harm - Sex: Both - Age: 15-49 years (Number),Deaths - Interpersonal violence - Sex: Both - Age: 15-49 years (Number),Deaths - Drowning - Sex: Both - Age: 15-49 years (Number),Deaths - Malaria - Sex: Both - Age: 15-49 years (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: 15-49 years (Number)",Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number),Deaths - Digestive diseases - Sex: Both - Age: 15-49 years (Number),...,Deaths - Protein-energy malnutrition - Sex: Both - Age: 15-49 years (Number),Deaths - Exposure to forces of nature - Sex: Both - Age: 15-49 years (Number),Deaths - Environmental heat and cold exposure - Sex: Both - Age: 15-49 years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 15-49 years (Number),Deaths - Road injuries - Sex: Both - Age: 15-49 years (Number),Deaths - Tuberculosis - Sex: Both - Age: 15-49 years (Number),Deaths - HIV/AIDS - Sex: Both - Age: 15-49 years (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: 15-49 years (Number),Deaths - Parkinson's disease - Sex: Both - Age: 15-49 years (Number),Deaths - Acute hepatitis - Sex: Both - Age: 15-49 years (Number)
0,Afghanistan,AFG,1990,482,1126,234,46,86,2078,731,...,131,0,73,42,2033,1208,15,5,10,553
1,Afghanistan,AFG,1991,535,1510,262,94,94,2183,773,...,143,543,52,46,2317,1289,19,5,10,595
2,Afghanistan,AFG,1992,634,1782,311,125,109,2386,853,...,165,266,27,54,2814,1446,24,5,10,671
3,Afghanistan,AFG,1993,716,2038,350,58,121,2544,917,...,184,103,31,77,3204,1575,28,5,10,737
4,Afghanistan,AFG,1994,759,2260,365,110,126,2615,948,...,194,73,33,64,3385,1653,32,5,11,776

In [21]:
yr15_49_df.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - Self-harm - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Interpersonal violence - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Drowning - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Malaria - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Digestive diseases - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Chronic kidney disease - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Drug use disorders - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Alcohol use disorders - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Lower respiratory infections - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Diabetes mellitus - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Diarrheal diseases - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Road injuries - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Tuberculosis - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - HIV/AIDS - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Parkinson's disease - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Acute hepatitis - Sex: Both - Age: 15-49 years (Number)'],
      dtype='object')

In [22]:
# Rename Headings:
yr15_49_df = yr15_49_df.rename(columns = {
       'Deaths - Self-harm - Sex: Both - Age: 15-49 years (Number)': 'Self-harm',
       'Deaths - Interpersonal violence - Sex: Both - Age: 15-49 years (Number)': 'Interpersonal violence',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: 15-49 years (Number)': 'Exposure to forces of nature',
       'Deaths - Drowning - Sex: Both - Age: 15-49 years (Number)': 'Drowning',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: 15-49 years (Number)': 'Environmental heat and cold exposure',
       'Deaths - Diarrheal diseases - Sex: Both - Age: 15-49 years (Number)': 'Diarrheal diseases',
       'Deaths - Road injuries - Sex: Both - Age: 15-49 years (Number)': 'Road injuries',
       'Deaths - Tuberculosis - Sex: Both - Age: 15-49 years (Number)': 'Tuberculosis',
       'Deaths - HIV/AIDS - Sex: Both - Age: 15-49 years (Number)': 'HIV/AIDS',
       'Deaths - Parkinson\'s disease - Sex: Both - Age: 15-49 years (Number)': 'Parkinson\'s disease',
       'Deaths - Malaria - Sex: Both - Age: 15-49 years (Number)': 'Malaria',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: 15-49 years (Number)': 'Fire, heat, and hot substances',
       'Deaths - Chronic kidney disease - Sex: Both - Age: 15-49 years (Number)': 'Chronic kidney disease',
       'Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number)': 'Neoplasms',
       'Deaths - Digestive diseases - Sex: Both - Age: 15-49 years (Number)': 'Digestive diseases',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: 15-49 years (Number)': 'Cirrhosis and other chronic liver diseases',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: 15-49 years (Number)': 'Chronic respiratory diseases',
       'Deaths - Alzheimer\'s disease and other dementias - Sex: Both - Age: 15-49 years (Number)': 'Alzheimer\'s disease and other dementias',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: 15-49 years (Number)': 'Cardiovascular diseases',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: 15-49 years (Number)': 'Nutritional deficiencies',
       'Deaths - Drug use disorders - Sex: Both - Age: 15-49 years (Number)': 'Drug use disorders',
       'Deaths - Alcohol use disorders - Sex: Both - Age: 15-49 years (Number)': 'Alcohol use disorders',
       'Deaths - Lower respiratory infections - Sex: Both - Age: 15-49 years (Number)': 'Lower respiratory infections',
       'Deaths - Diabetes mellitus - Sex: Both - Age: 15-49 years (Number)': 'Diabetes mellitus',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: 15-49 years (Number)': 'Protein-energy malnutrition',
       'Deaths - Acute hepatitis - Sex: Both - Age: 15-49 years (Number)': 'Acute hepatitis'})
yr15_49_df.head()

,Entity,Code,Year,Self-harm,Interpersonal violence,Drowning,Malaria,"Fire, heat, and hot substances",Neoplasms,Digestive diseases,...,Protein-energy malnutrition,Exposure to forces of nature,Environmental heat and cold exposure,Diarrheal diseases,Road injuries,Tuberculosis,HIV/AIDS,Alzheimer's disease and other dementias,Parkinson's disease,Acute hepatitis
0,Afghanistan,AFG,1990,482,1126,234,46,86,2078,731,...,131,0,73,42,2033,1208,15,5,10,553
1,Afghanistan,AFG,1991,535,1510,262,94,94,2183,773,...,143,543,52,46,2317,1289,19,5,10,595
2,Afghanistan,AFG,1992,634,1782,311,125,109,2386,853,...,165,266,27,54,2814,1446,24,5,10,671
3,Afghanistan,AFG,1993,716,2038,350,58,121,2544,917,...,184,103,31,77,3204,1575,28,5,10,737
4,Afghanistan,AFG,1994,759,2260,365,110,126,2615,948,...,194,73,33,64,3385,1653,32,5,11,776

##### SAVE:

In [23]:
yr15_49_df.to_csv('data/Tableau_Tables/T6 Ages 15-49.csv', index=False)

----

<a name="table-7-ages-50-69:"/>

#### TABLE 7 Ages 50-69:

In [24]:
yr50_69_df = pd.read_csv('data/nd-50-69-year-olds.csv')
yr50_69_df.head(5)

,Entity,Code,Year,Deaths - Self-harm - Sex: Both - Age: 50-69 years (Number),Deaths - Interpersonal violence - Sex: Both - Age: 50-69 years (Number),Deaths - Cardiovascular diseases - Sex: Both - Age: 50-69 years (Number),Deaths - Drug use disorders - Sex: Both - Age: 50-69 years (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: 50-69 years (Number),Deaths - Alcohol use disorders - Sex: Both - Age: 50-69 years (Number),Deaths - Lower respiratory infections - Sex: Both - Age: 50-69 years (Number),...,Deaths - Parkinson's disease - Sex: Both - Age: 50-69 years (Number),Deaths - Acute hepatitis - Sex: Both - Age: 50-69 years (Number),Deaths - Malaria - Sex: Both - Age: 50-69 years (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: 50-69 years (Number)",Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number),Deaths - Digestive diseases - Sex: Both - Age: 50-69 years (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: 50-69 years (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: 50-69 years (Number),Deaths - Chronic kidney disease - Sex: Both - Age: 50-69 years (Number),Deaths - Diabetes mellitus - Sex: Both - Age: 50-69 years (Number)
0,Afghanistan,AFG,1990,167,208,20666,23,49,28,932,...,100,1232,19,54,5446,1992,1233,2453,1534,1100
1,Afghanistan,AFG,1991,168,242,20840,24,50,28,941,...,100,1255,38,55,5493,2012,1247,2481,1527,1100
2,Afghanistan,AFG,1992,171,235,21174,25,52,28,956,...,102,1287,44,56,5577,2043,1268,2526,1521,1107
3,Afghanistan,AFG,1993,176,237,21699,26,55,29,979,...,104,1333,17,57,5679,2082,1293,2594,1529,1122
4,Afghanistan,AFG,1994,180,249,22273,28,58,29,1003,...,105,1385,33,58,5771,2121,1315,2672,1545,1140

In [25]:
yr50_69_df.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - Self-harm - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Interpersonal violence - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Drug use disorders - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Alcohol use disorders - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Lower respiratory infections - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Diarrheal diseases - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Road injuries - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Drowning - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Tuberculosis - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - HIV/AIDS - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Parkinson's disease - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Acute hepatitis - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Malaria - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Digestive diseases - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Chronic kidney disease - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Diabetes mellitus - Sex: Both - Age: 50-69 years (Number)'],
      dtype='object')

In [26]:
# Rename Headings:
yr50_69_df = yr50_69_df.rename(columns = {
       'Deaths - Self-harm - Sex: Both - Age: 50-69 years (Number)': 'Self-harm',
       'Deaths - Interpersonal violence - Sex: Both - Age: 50-69 years (Number)': 'Interpersonal violence',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: 50-69 years (Number)': 'Exposure to forces of nature',
       'Deaths - Drowning - Sex: Both - Age: 50-69 years (Number)': 'Drowning',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: 50-69 years (Number)': 'Environmental heat and cold exposure',
       'Deaths - Diarrheal diseases - Sex: Both - Age: 50-69 years (Number)': 'Diarrheal diseases',
       'Deaths - Road injuries - Sex: Both - Age: 50-69 years (Number)': 'Road injuries',
       'Deaths - Tuberculosis - Sex: Both - Age: 50-69 years (Number)': 'Tuberculosis',
       'Deaths - HIV/AIDS - Sex: Both - Age: 50-69 years (Number)': 'HIV/AIDS',
       'Deaths - Parkinson\'s disease - Sex: Both - Age: 50-69 years (Number)': 'Parkinson\'s disease',
       'Deaths - Malaria - Sex: Both - Age: 50-69 years (Number)': 'Malaria',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: 50-69 years (Number)': 'Fire, heat, and hot substances',
       'Deaths - Chronic kidney disease - Sex: Both - Age: 50-69 years (Number)': 'Chronic kidney disease',
       'Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number)': 'Neoplasms',
       'Deaths - Digestive diseases - Sex: Both - Age: 50-69 years (Number)': 'Digestive diseases',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: 50-69 years (Number)': 'Cirrhosis and other chronic liver diseases',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: 50-69 years (Number)': 'Chronic respiratory diseases',
       'Deaths - Alzheimer\'s disease and other dementias - Sex: Both - Age: 50-69 years (Number)': 'Alzheimer\'s disease and other dementias',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: 50-69 years (Number)': 'Cardiovascular diseases',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: 50-69 years (Number)': 'Nutritional deficiencies',
       'Deaths - Drug use disorders - Sex: Both - Age: 50-69 years (Number)': 'Drug use disorders',
       'Deaths - Alcohol use disorders - Sex: Both - Age: 50-69 years (Number)': 'Alcohol use disorders',
       'Deaths - Lower respiratory infections - Sex: Both - Age: 50-69 years (Number)': 'Lower respiratory infections',
       'Deaths - Diabetes mellitus - Sex: Both - Age: 50-69 years (Number)': 'Diabetes mellitus',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: 50-69 years (Number)': 'Protein-energy malnutrition',
       'Deaths - Acute hepatitis - Sex: Both - Age: 50-69 years (Number)': 'Acute hepatitis'})
yr50_69_df.head()

,Entity,Code,Year,Self-harm,Interpersonal violence,Cardiovascular diseases,Drug use disorders,Nutritional deficiencies,Alcohol use disorders,Lower respiratory infections,...,Parkinson's disease,Acute hepatitis,Malaria,"Fire, heat, and hot substances",Neoplasms,Digestive diseases,Cirrhosis and other chronic liver diseases,Chronic respiratory diseases,Chronic kidney disease,Diabetes mellitus
0,Afghanistan,AFG,1990,167,208,20666,23,49,28,932,...,100,1232,19,54,5446,1992,1233,2453,1534,1100
1,Afghanistan,AFG,1991,168,242,20840,24,50,28,941,...,100,1255,38,55,5493,2012,1247,2481,1527,1100
2,Afghanistan,AFG,1992,171,235,21174,25,52,28,956,...,102,1287,44,56,5577,2043,1268,2526,1521,1107
3,Afghanistan,AFG,1993,176,237,21699,26,55,29,979,...,104,1333,17,57,5679,2082,1293,2594,1529,1122
4,Afghanistan,AFG,1994,180,249,22273,28,58,29,1003,...,105,1385,33,58,5771,2121,1315,2672,1545,1140

##### SAVE:

In [27]:
yr50_69_df.to_csv('data/Tableau_Tables/T7 Ages 50-69.csv', index=False)

----

<a name="table-8-ages-70+:"/>

#### TABLE 8 Ages 70+:

In [28]:
yr70_up_df = pd.read_csv('data/nd-70-year-olds.csv')
yr70_up_df.head(5)

,Entity,Code,Year,Deaths - Self-harm - Sex: Both - Age: 70+ years (Number),Deaths - Interpersonal violence - Sex: Both - Age: 70+ years (Number),Deaths - Exposure to forces of nature - Sex: Both - Age: 70+ years (Number),Deaths - Drowning - Sex: Both - Age: 70+ years (Number),Deaths - Environmental heat and cold exposure - Sex: Both - Age: 70+ years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 70+ years (Number),Deaths - Road injuries - Sex: Both - Age: 70+ years (Number),...,Deaths - Chronic respiratory diseases - Sex: Both - Age: 70+ years (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: 70+ years (Number),Deaths - Cardiovascular diseases - Sex: Both - Age: 70+ years (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: 70+ years (Number),Deaths - Drug use disorders - Sex: Both - Age: 70+ years (Number),Deaths - Alcohol use disorders - Sex: Both - Age: 70+ years (Number),Deaths - Lower respiratory infections - Sex: Both - Age: 70+ years (Number),Deaths - Diabetes mellitus - Sex: Both - Age: 70+ years (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: 70+ years (Number),Deaths - Acute hepatitis - Sex: Both - Age: 70+ years (Number)
0,Afghanistan,AFG,1990,35,33,0,14,20,140,169,...,2680,973,18600,21,7,6,1559,730,16,378
1,Afghanistan,AFG,1991,35,39,101,14,12,142,173,...,2718,991,18820,22,8,6,1576,729,16,389
2,Afghanistan,AFG,1992,36,38,40,14,2,142,177,...,2762,1013,19109,23,8,6,1595,730,17,401
3,Afghanistan,AFG,1993,37,39,13,15,2,162,182,...,2835,1036,19565,24,8,6,1628,736,18,419
4,Afghanistan,AFG,1994,38,41,9,15,2,151,187,...,2924,1058,20084,25,9,6,1668,744,19,441

In [29]:
# Preserve data in old headings:
yr70_up_df_columns = yr70_up_df.columns
yr70_up_df_columns

Index(['Entity', 'Code', 'Year',
       'Deaths - Self-harm - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Interpersonal violence - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Drowning - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Diarrheal diseases - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Road injuries - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Tuberculosis - Sex: Both - Age: 70+ years (Number)',
       'Deaths - HIV/AIDS - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Parkinson's disease - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Malaria - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Chronic kidney disease - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Digestive diseases - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Drug use disorders - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Alcohol use disorders - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Lower respiratory infections - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Diabetes mellitus - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Acute hepatitis - Sex: Both - Age: 70+ years (Number)'],
      dtype='object')

In [30]:
# Rename Headings:
yr70_up_df = yr70_up_df.rename(columns = {
       'Deaths - Self-harm - Sex: Both - Age: 70+ years (Number)': 'Self-harm',
       'Deaths - Interpersonal violence - Sex: Both - Age: 70+ years (Number)': 'Interpersonal violence',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: 70+ years (Number)': 'Exposure to forces of nature',
       'Deaths - Drowning - Sex: Both - Age: 70+ years (Number)': 'Drowning',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: 70+ years (Number)': 'Environmental heat and cold exposure',
       'Deaths - Diarrheal diseases - Sex: Both - Age: 70+ years (Number)': 'Diarrheal diseases',
       'Deaths - Road injuries - Sex: Both - Age: 70+ years (Number)': 'Road injuries',
       'Deaths - Tuberculosis - Sex: Both - Age: 70+ years (Number)': 'Tuberculosis',
       'Deaths - HIV/AIDS - Sex: Both - Age: 70+ years (Number)': 'HIV/AIDS',
       'Deaths - Parkinson\'s disease - Sex: Both - Age: 70+ years (Number)': 'Parkinson\'s disease',
       'Deaths - Malaria - Sex: Both - Age: 70+ years (Number)': 'Malaria',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: 70+ years (Number)': 'Fire, heat, and hot substances',
       'Deaths - Chronic kidney disease - Sex: Both - Age: 70+ years (Number)': 'Chronic kidney disease',
       'Deaths - Neoplasms - Sex: Both - Age: 70+ years (Number)': 'Neoplasms',
       'Deaths - Digestive diseases - Sex: Both - Age: 70+ years (Number)': 'Digestive diseases',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: 70+ years (Number)': 'Cirrhosis and other chronic liver diseases',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: 70+ years (Number)': 'Chronic respiratory diseases',
       'Deaths - Alzheimer\'s disease and other dementias - Sex: Both - Age: 70+ years (Number)': 'Alzheimer\'s disease and other dementias',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: 70+ years (Number)': 'Cardiovascular diseases',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: 70+ years (Number)': 'Nutritional deficiencies',
       'Deaths - Drug use disorders - Sex: Both - Age: 70+ years (Number)': 'Drug use disorders',
       'Deaths - Alcohol use disorders - Sex: Both - Age: 70+ years (Number)': 'Alcohol use disorders',
       'Deaths - Lower respiratory infections - Sex: Both - Age: 70+ years (Number)': 'Lower respiratory infections',
       'Deaths - Diabetes mellitus - Sex: Both - Age: 70+ years (Number)': 'Diabetes mellitus',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: 70+ years (Number)': 'Protein-energy malnutrition',
       'Deaths - Acute hepatitis - Sex: Both - Age: 70+ years (Number)': 'Acute hepatitis'})
yr70_up_df.head()

,Entity,Code,Year,Self-harm,Interpersonal violence,Exposure to forces of nature,Drowning,Environmental heat and cold exposure,Diarrheal diseases,Road injuries,...,Chronic respiratory diseases,Alzheimer's disease and other dementias,Cardiovascular diseases,Nutritional deficiencies,Drug use disorders,Alcohol use disorders,Lower respiratory infections,Diabetes mellitus,Protein-energy malnutrition,Acute hepatitis
0,Afghanistan,AFG,1990,35,33,0,14,20,140,169,...,2680,973,18600,21,7,6,1559,730,16,378
1,Afghanistan,AFG,1991,35,39,101,14,12,142,173,...,2718,991,18820,22,8,6,1576,729,16,389
2,Afghanistan,AFG,1992,36,38,40,14,2,142,177,...,2762,1013,19109,23,8,6,1595,730,17,401
3,Afghanistan,AFG,1993,37,39,13,15,2,162,182,...,2835,1036,19565,24,8,6,1628,736,18,419
4,Afghanistan,AFG,1994,38,41,9,15,2,151,187,...,2924,1058,20084,25,9,6,1668,744,19,441

>STRETCH: I might come back and organize the types of deaths later.

##### SAVE:

In [31]:
yr70_up_df.to_csv('data/Tableau_Tables/T8 Ages 70+.csv', index=False)

----

<a name="table-9-risks:"/>

#### TABLE 9 Risks:

In [32]:
risk_df = pd.read_csv('data/nd-risk-factor.csv')
risk_df.head(5)

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number),...,Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812

In [33]:
print(len(risk_df.columns))
risk_df.columns[15:]

31

Index(['Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: Diet low in vegetables - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: Low physical activity - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: Smoking - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: High fasting plasma glucose - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)'],
      dtype='object')

In [34]:
risk_df = risk_df.rename(columns = {
    'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number)': 'Outdoor air pollution - OWID'
  , 'Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number)': 'High systolic blood pressure'
  , 'Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number)': 'Diet high in sodium'
  , 'Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number)': 'Diet low in whole grains'
  , 'Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number)': 'Alcohol use'
  , 'Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number)': 'Diet low in fruits'
  , 'Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number)': 'Unsafe water source'
  , 'Deaths - Cause: All causes - Risk: Secondhand smoke - Sex: Both - Age: All Ages (Number)': 'Secondhand smoke'
  , 'Deaths - Cause: All causes - Risk: Low birth weight - Sex: Both - Age: All Ages (Number)': 'Low birth weight'
  , 'Deaths - Cause: All causes - Risk: Child wasting - Sex: Both - Age: All Ages (Number)': 'Child wasting'
  , 'Deaths - Cause: All causes - Risk: Unsafe sex - Sex: Both - Age: All Ages (Number)': 'Unsafe sex'
  , 'Deaths - Cause: All causes - Risk: Diet low in nuts and seeds - Sex: Both - Age: All Ages (Number)': 'Diet low in nuts and seeds'
  , 'Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)': 'Household air pollution from solid fuels'
  , 'Deaths - Cause: All causes - Risk: Diet low in vegetables - Sex: Both - Age: All Ages (Number)': 'Diet low in vegetables'
  , 'Deaths - Cause: All causes - Risk: Low physical activity - Sex: Both - Age: All Ages (Number)': 'Low physical activity'
  , 'Deaths - Cause: All causes - Risk: Smoking - Sex: Both - Age: All Ages (Number)': 'Smoking'
  , 'Deaths - Cause: All causes - Risk: High fasting plasma glucose - Sex: Both - Age: All Ages (Number)': 'High fasting plasma glucose'
  , 'Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: All Ages (Number)': 'Air pollution'
  , 'Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number)': 'High body-mass index'
  , 'Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number)': 'Unsafe sanitation'
  , 'Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number)': 'No access to handwashing facility'
  , 'Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number)': 'Drug use'
  , 'Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number)': 'Low bone mineral density'
  , 'Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number)': 'Vitamin A deficiency'
  , 'Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number)': 'Child stunting'
  , 'Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number)': 'Discontinued breastfeeding'
  , 'Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number)': 'Non-exclusive breastfeeding'
  , 'Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)': 'Iron deficiency'
})
risk_df.head()

,Entity,Code,Year,Outdoor air pollution - OWID,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alcohol use,Diet low in fruits,Unsafe water source,...,High body-mass index,Unsafe sanitation,No access to handwashing facility,Drug use,Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812

##### SAVE:

In [35]:
risk_df.to_csv('data/Tableau_Tables/T9 Risks.csv', index=False)

----